extensions:
    arachne.expressionlanguage: Arachne\ExpressionLanguage\DI\ExpressionLanguageExtension

services:
	-
		class: Tests\Integration\Fixtures\StringExpressionLanguageProvider
		tags:
			- arachne.expressionLanguage.functionProvider
